<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Path" value="192.168.11.26" />
    <add key="Account" value="administrator" />
    <add key="Password" value="P@ssw0rd" />
    <add key="DistinguishedName" value="OU=Soetek,DC=iac,DC=com" />
  </appSettings>
</configuration>